#Grid {
    position: absolute;
    box-sizing: border-box;
    width: 120vh;
    height: 100vh;
    left: calc(50vw - 60vh);
    background-color: rgba(71, 71, 71, 0.9);
    padding: 0.5vh 0.5vh 0 0.5vh;
    backdrop-filter: blur(4px);   
}