// Player display
.Player {
    position: absolute;
    box-sizing: border-box;
    width: calc(0.9 * (50vw - 60vh));
    height: 20vh;
    text-align: center;
    background-color: rgba(52, 52, 52, 0.7);
    backdrop-filter: blur(var(--blurPlayer));
    -webkit-backdrop-filter: blur(var(--blurPlayer));
    border-bottom: 0.4vh solid var(--midTransparent);

    // Left or right
    &.left {
        border-bottom-right-radius: 9vh;
        border-right: 0.4vh solid var(--midTransparent);
    }
    &.right {
        left: calc(100vw - 0.9 * (50vw - 60vh));
        border-bottom-left-radius: 9vh;
        border-left: 0.4vh solid var(--midTransparent);
    }


    // Pseudo disp
    .playerPseudo {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 30%;
        overflow: hidden;
        font-size: 4.3vh;
        line-height: 5vh;
        color: white;

        // Player to play
        &.self {
            font-weight: bold;
            font-size: 4.6vh;
            line-height: 5.2vh;
        }
    }


    // Div for chip
    .chipDiv {
        display: block;
        box-sizing: border-box;
        width: 13vh;
        height: 13vh;
        margin-left: calc((0.9 * (50vw - 60vh))/2 - 6.5vh);
    }
}

@media (max-aspect-ratio: 17/9) {
    .Player {
        width: calc(50vw - 60vh);

        &.right {
            left: calc(100vw - (50vw - 60vh));
        }

        // Div for chip
        .chipDiv {
            margin-left: calc((50vw - 60vh)/2 - 6.5vh);
        }
    }
}