// Game chip
.Chip {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50vh;
    border: 0.3vh dashed black;

    &.red {
        background-color: red;
    }

    &.yellow {
        background-color: yellow;
    }

    // Circle
    .innerCircle {
        display: block;
        box-sizing: border-box;
        width: 80%;
        height: 80%;
        border-radius: 50vh;
        margin-left: 10%;
        margin-top: 10%;
        border: 0.4vh dashed black;

        &.yellow {
            background: radial-gradient(circle, rgb(255,255,0) 0%, rgb(204, 204, 19) 100%);
        }

        &.red {
            background: radial-gradient(circle, rgb(255, 0, 0) 0%,rgb(187, 18, 18) 100%);
        }
    }
}